<%- include('partials/head') %>

    <body>

    <%- include('partials/navbar') %>


    <div class="container">
    <h1 class="display-1">Random Number Generator</h1>
    <hr>

    <h2 class="display-4"> The 1st random number is: <%= Math.floor(Math.random() * 15) + 1 %></h2>

    <hr>
    
    <h2 class="display-4"> The 2nd random number is: <%= randomNum %></h2>
    <!-- We get the exact outcome with a much simpler Template -->

    <% if(randomNum % 2 === 0) { %>
        <p class="display-6">That is an even number!</p>
    <% } else { %>
        <p class="display-6">That is an odd number!</p>
    <% } %> <!-- This is how we embed logic into a template -->

    <h5 class="display-6"><%= randomNum%2===0 ? 'EVEN' : 'ODD'%></h5>
    <!-- This line uses a shortcut for an if-else statement.
    -- ? and : are shortcuts for if-else statements
    -- ?= if, : = else -->

    </div>

<%- include('partials/footer') %>